/* ----For Full Body---- */
* {
	margin: 0px;
	padding: 0px;
}

img {
	width: 100%;
	height: 100%;
}

.container {
	width: 80%;
	margin: auto;
}

/* Navbar Section */
.navbar-container {
	width: 100%;
	height: 16vh;

}

.navbar-container>div:nth-child(1) {
	width: 18%;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container>div:nth-child(2) {
	width: 60%;
	display: inline-block;
	text-align: center;
}

.navbar-container>div:nth-child(3) {
	width: 19%;
	display: inline-block;
	text-align: end;
}

.button-group>div:nth-child(1) {
	width: 44%;
    display: inline-block;
    vertical-align: middle;
    margin: 7px;
	
}

.button-group>div:nth-child(2) {
	width: 49%;
	display: inline-block;
}

.list {
	width: 91%;
    position: relative;
    margin-left: 72px;
	font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    
}

.list>li:nth-child(1){
	text-decoration: underline;
    font-size: 21px;
}


.list-item {
	width: 19%;
    display: inline-block;
    margin-left: -7px;
	font-size: 18px;
}

.nav-button {
	width: 100%;
	border-radius: 8px;
	height: 5vh;
	font-size: 20px;
	

}
svg {
    height: 80%;
    width: 21%;
}

.nav-button::after {
	content: "earch";
}

/* < !-- Hero Banner Section --> */

.hero-container {
	width: 100%;
	margin: auto;
}

.globe {
	position: relative;
    bottom: 208px;
    width: 5%;
    margin-left: 169px;
}

.star {
	position: relative;
    width: 48px;
    float: right;
    top: 79px;
    margin-right: 41px;
}

h1.hero-heading {
	font-size: 54px;
    margin-left: 70px;
	font-family: 'Orbitron', sans-serif;
}

p.hero-description {
	margin: 53px;
    width: 54%;
    margin-left: 302px;
	color: #837d7d;
	
}

.button-email,
.button-join {
	margin: 37px 3px;
    height: 4vh;
    border-radius: 11px;
    font-family: 'Orbitron', sans-serif;
    font-size: 19px;
}

.button-join {
	background-color: black;
	color: white;
	width: 13%;
}

.icons{
	margin-left: 52px;
}

.button-email {
	width: 23%;
	margin-left: 122px;
	color: #595050;
}

.contact-heading {
	margin: 19px;
    margin-left: 73px;
    font-size: 21px;
    color: #6d6464;
}

span {
	display: inline-block;
	
}

.square img {
	width: 49%;
    margin-left: 180px;
    position: relative;
    top: 325px;
}

img[alt~="person-hero-iamge"] {
	position: absolute;
    width: 24%;
    height: 60%;
    top: 192px;
}

.hero-container-right {
	text-align: center;
    width: 78%;
    margin-left: 422px;
    position: relative;
    bottom: 120px;
}